.box{
    background-image: linear-gradient(to bottom right,#04413D, #c0ddf6);

}

.scroll-container {
    width: 100%;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    
    
}



.content {
    height: 800px; /* Example content height to make scrollbar visible */
    /* Other styling for your content */
}



.charts{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 20px;
 margin-top: 90px;
 height: 450px;

} 

.dark-theme{
    --main-heading: #5f99be;
    --para-clr:#fff;
    --btn-bg-color:#5f99be;
    --btn-text-clr: #fff;
    --bg-clr:#111b20;
}

.light-theme{
    --main-heading: #5f99be;
    --para-clr:#333;
    --btn-bg-color:#111b20;
    --btn-text-clr: #fff;
    --bg-clr:#fff;
}
h1{
    font-size: 5rem;
    color: var(--main-heading);
}
p{
    font-size: 2rem;
    color: var(--para-clr);
}
a{
    cursor: pointer;
    text-decoration: none;
}
.btn{
    padding:  1.6rem 3.2rem;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-clr);
}

section{
    max-width: 140rem;
    background-color: var(--bg-clr);
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}